
<div class="container">
    <div class="starter-template">

        <div class="row">
            <h2>Hola</h2>
            <p class="lead">Al presionar el botón Scrapear la parte del servidor comenzará a revisar la página de paramotrek y generará un archivo con la información encontrada.</p>
        </div>

        <div class="row">
            <div class="col-6 pull-right">
                <h3 id="info_header">Scrapear:</h3>
            </div>
            <div class="col-6">
                <input type="button" id="btnLoad" onclick="methods.start_scraping();" value="Scrapear" />
            </div>
        </div>
    </div>


</div>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
<script src="javascripts/client.js"></script>

